# Intro to Data Science Midterm Review

In [1]:
library(tidyverse)
library(palmerpenguins)
options(repr.matrix.max.rows = 6)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [2]:
penguins

    species   island    bill_length_mm bill_depth_mm flipper_length_mm
1   Adelie    Torgersen 39.1           18.7          181
2   Adelie    Torgersen 39.5           17.4          186
3   Adelie    Torgersen 40.3           18.0          195
⋮   ⋮         ⋮         ⋮              ⋮             ⋮
342 Chinstrap Dream     49.6           18.2          193
343 Chinstrap Dream     50.8           19.0          210
344 Chinstrap Dream     50.2           18.7          198
    body_mass_g sex    year
1   3750        male   2007
2   3800        female 2007
3   3250        female 2007
⋮   ⋮           ⋮      ⋮
342 3775        male   2009
343 4100        male   2009
344 3775        female 2009

## Data Wrangling

In [3]:
# filter() - selects rows

filter_penguins <- penguins |>
    filter(species == "Adelie", island == "Torgersen")
filter_penguins

   species island    bill_length_mm bill_depth_mm flipper_length_mm body_mass_g
1  Adelie  Torgersen 39.1           18.7          181               3750
2  Adelie  Torgersen 39.5           17.4          186               3800
3  Adelie  Torgersen 40.3           18.0          195               3250
⋮  ⋮       ⋮         ⋮              ⋮             ⋮                 ⋮
50 Adelie  Torgersen 44.1           18.0          210               4000
51 Adelie  Torgersen 38.5           17.9          190               3325
52 Adelie  Torgersen 43.1           19.2          197               3500
   sex    year
1  male   2007
2  female 2007
3  female 2007
⋮  ⋮      ⋮
50 male   2009
51 female 2009
52 male   2009

In [4]:
# select() - chooses columns

select_penguins <- penguins |>
    select(species, bill_length_mm, body_mass_g)
select_penguins

    species   bill_length_mm body_mass_g
1   Adelie    39.1           3750
2   Adelie    39.5           3800
3   Adelie    40.3           3250
⋮   ⋮         ⋮              ⋮
342 Chinstrap 49.6           3775
343 Chinstrap 50.8           4100
344 Chinstrap 50.2           3775

In [5]:
# mutate() - creates or modifies columns

mutate_penguins <- penguins |>
    mutate(bill_ratio = bill_length_mm / bill_depth_mm)
mutate_penguins

    species   island    bill_length_mm bill_depth_mm flipper_length_mm
1   Adelie    Torgersen 39.1           18.7          181
2   Adelie    Torgersen 39.5           17.4          186
3   Adelie    Torgersen 40.3           18.0          195
⋮   ⋮         ⋮         ⋮              ⋮             ⋮
342 Chinstrap Dream     49.6           18.2          193
343 Chinstrap Dream     50.8           19.0          210
344 Chinstrap Dream     50.2           18.7          198
    body_mass_g sex    year bill_ratio
1   3750        male   2007 2.090909
2   3800        female 2007 2.270115
3   3250        female 2007 2.238889
⋮   ⋮           ⋮      ⋮    ⋮
342 3775        male   2009 2.725275
343 4100        male   2009 2.673684
344 3775        female 2009 2.684492

In [10]:
# arrange() - sorts rows

# automatically uses ascending order
arrange_penguins <- penguins |>
    arrange(flipper_length_mm)
arrange_penguins

    species island    bill_length_mm bill_depth_mm flipper_length_mm
1   Adelie  Biscoe    37.9           18.6          172
2   Adelie  Biscoe    37.8           18.3          174
3   Adelie  Torgersen 40.2           17.0          176
⋮   ⋮       ⋮         ⋮              ⋮             ⋮
342 Gentoo  Biscoe    54.3           15.7          231
343 Adelie  Torgersen   NA             NA           NA
344 Gentoo  Biscoe      NA             NA           NA
    body_mass_g sex    year
1   3150        female 2007
2   3400        female 2007
3   3450        female 2009
⋮   ⋮           ⋮      ⋮
342 5650        male   2008
343   NA        NA     2007
344   NA        NA     2009

In [9]:
# arrange() & desc() – using descending order

desc_penguins <- penguins |>
    arrange(desc(body_mass_g))
desc_penguins

    species   island    bill_length_mm bill_depth_mm flipper_length_mm
1   Gentoo    Biscoe    49.2           15.2          221
2   Gentoo    Biscoe    59.6           17.0          230
3   Gentoo    Biscoe    51.1           16.3          220
⋮   ⋮         ⋮         ⋮              ⋮             ⋮
342 Chinstrap Dream     46.9           16.6          192
343 Adelie    Torgersen   NA             NA           NA
344 Gentoo    Biscoe      NA             NA           NA
    body_mass_g sex    year
1   6300        male   2007
2   6050        male   2007
3   6000        male   2008
⋮   ⋮           ⋮      ⋮
342 2700        female 2008
343   NA        NA     2007
344   NA        NA     2009

In [15]:
# group_by() - treats subsets of data as separate groups
# summarize() - reduces each group to a singular row using summary functions

grouped_penguins <- penguins |>
    group_by(species) |>
    summarize(avg_mass = mean(body_mass_g, na.rm = TRUE))
grouped_penguins

  species   avg_mass
1 Adelie    3700.662
2 Chinstrap 3733.088
3 Gentoo    5076.016

In [16]:
# slice() - picks out rows

# slice_max() - finds the top rows by value

heaviest_penguin <- penguins |>
    slice_max(order_by = body_mass_g, n = 1)
heaviest_penguin

# slice_min() - finds the least rows by value 

lightest_3_penguins <- penguins |>
    slice_min(order_by = body_mass_g, n = 3)
lightest_3_penguins

  species island bill_length_mm bill_depth_mm flipper_length_mm body_mass_g
1 Gentoo  Biscoe 49.2           15.2          221               6300
  sex  year
1 male 2007

  species   island bill_length_mm bill_depth_mm flipper_length_mm body_mass_g
1 Chinstrap Dream  46.9           16.6          192               2700
2 Adelie    Biscoe 36.5           16.6          181               2850
3 Adelie    Biscoe 36.4           17.1          184               2850
  sex    year
1 female 2008
2 female 2008
3 female 2008

In [17]:
# rename() - renames columns

rename_penguins <- penguins |>
    rename(mass = body_mass_g)
rename_penguins

    species   island    bill_length_mm bill_depth_mm flipper_length_mm mass
1   Adelie    Torgersen 39.1           18.7          181               3750
2   Adelie    Torgersen 39.5           17.4          186               3800
3   Adelie    Torgersen 40.3           18.0          195               3250
⋮   ⋮         ⋮         ⋮              ⋮             ⋮                 ⋮
342 Chinstrap Dream     49.6           18.2          193               3775
343 Chinstrap Dream     50.8           19.0          210               4100
344 Chinstrap Dream     50.2           18.7          198               3775
    sex    year
1   male   2007
2   female 2007
3   female 2007
⋮   ⋮      ⋮
342 male   2009
343 male   2009
344 female 2009

In [18]:
# distinct() - removes duplicates

unique_penguins <- penguins |>
    distinct(species, island)
unique_penguins

  species   island
1 Adelie    Torgersen
2 Adelie    Biscoe
3 Adelie    Dream
4 Gentoo    Biscoe
5 Chinstrap Dream

In [22]:
# across() - applies functions to multiple columns

mutate_penguins_2 <- penguins |>
    mutate(across(ends_with("_mm"), scale)) # standardized all measurements to scale
mutate_penguins_2

    species   island    bill_length_mm bill_depth_mm flipper_length_mm
1   Adelie    Torgersen -0.8832047     0.7843001     -1.4162715
2   Adelie    Torgersen -0.8099390     0.1260033     -1.0606961
3   Adelie    Torgersen -0.6634077     0.4298326     -0.4206603
⋮   ⋮         ⋮         ⋮              ⋮             ⋮
342 Chinstrap Dream     1.040019       0.5311090     -0.5628905
343 Chinstrap Dream     1.259816       0.9362147      0.6460660
344 Chinstrap Dream     1.149917       0.7843001     -0.2073150
    body_mass_g sex    year
1   3750        male   2007
2   3800        female 2007
3   3250        female 2007
⋮   ⋮           ⋮      ⋮
342 3775        male   2009
343 4100        male   2009
344 3775        female 2009

In [23]:
# head() / tail() - previews the first or last few rows

head(penguins, 5)
tail(penguins, 5)

  species island    bill_length_mm bill_depth_mm flipper_length_mm body_mass_g
1 Adelie  Torgersen 39.1           18.7          181               3750
2 Adelie  Torgersen 39.5           17.4          186               3800
3 Adelie  Torgersen 40.3           18.0          195               3250
4 Adelie  Torgersen   NA             NA           NA                 NA
5 Adelie  Torgersen 36.7           19.3          193               3450
  sex    year
1 male   2007
2 female 2007
3 female 2007
4 NA     2007
5 female 2007

  species   island bill_length_mm bill_depth_mm flipper_length_mm body_mass_g
1 Chinstrap Dream  55.8           19.8          207               4000
2 Chinstrap Dream  43.5           18.1          202               3400
3 Chinstrap Dream  49.6           18.2          193               3775
4 Chinstrap Dream  50.8           19.0          210               4100
5 Chinstrap Dream  50.2           18.7          198               3775
  sex    year
1 male   2009
2 female 2009
3 male   2009
4 male   2009
5 female 2009

In [24]:
# na.rm = TRUE
# ignores NAs in calculations

average_mass <- mean(penguins$body_mass_g, na.rm = TRUE)
average_mass

# !is.na()
# filters out rows with missing values

filtered_penguins <- penguins |> 
  filter(!is.na(body_mass_g))
filtered_penguins

[1] 4201.754

    species   island    bill_length_mm bill_depth_mm flipper_length_mm
1   Adelie    Torgersen 39.1           18.7          181
2   Adelie    Torgersen 39.5           17.4          186
3   Adelie    Torgersen 40.3           18.0          195
⋮   ⋮         ⋮         ⋮              ⋮             ⋮
340 Chinstrap Dream     49.6           18.2          193
341 Chinstrap Dream     50.8           19.0          210
342 Chinstrap Dream     50.2           18.7          198
    body_mass_g sex    year
1   3750        male   2007
2   3800        female 2007
3   3250        female 2007
⋮   ⋮           ⋮      ⋮
340 3775        male   2009
341 4100        male   2009
342 3775        female 2009